@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .infoText {
    @apply p-4 bg-gray-700/50 max-w-[300px] rounded-lg text-center hover:border border-yellow-400
  }

  .chatRow {
    @apply rounded-lg px-5 py-3 flex text-sm items-center justify-center hover:bg-gray-700/50 cursor-pointer text-gray-300 transition-all ease-out space-x-2
  }

  .input{
    @apply w-full bg-[#222222] rounded-[8px] font-medium py-4 px-6 placeholder:text-[#898889]
  }

  .btn{
    @apply bg-[#222222] text-['100px'] rounded-[8px] py-4 w-full px-6 
  }
}
